*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Inter,sans-serif;
    background:#0f172a;
    color:#e2e8f0;
}

.container{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:350px;
    background:#111827;
    padding:50px 30px;
    text-align:center;
    border-right:1px solid #1e293b;
}

.avatar{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:25px;
    box-shadow:0 0 30px rgba(34,211,238,.4);
}

.sidebar h1{
    font-size:40px;
    margin-bottom:10px;
}

.subtitle{
    color:#94a3b8;
    line-height:1.6;
}

.social{
    margin-top:40px;
}

.social p{
    margin-top:10px;
    color:#22d3ee;
}

main{
    flex:1;
    padding:60px;
}

section{
    margin-bottom:50px;
}

h2{
    margin-bottom:20px;
    color:#22d3ee;
    border-bottom:2px solid #1e293b;
    padding-bottom:10px;
}

ul{
    padding-left:25px;
}

li{
    margin:12px 0;
}

p{
    line-height:1.8;
}
@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        border-right:none;
        border-bottom:1px solid #1e293b;
    }

    main{
        padding:30px;
    }

}